<html>
	<head>
		<link rel="Stylesheet" href="/main.css" />
		<link rel="Stylesheet" href="/list.css" />
		<title>Система управления учебной деятельностью</title>
		<style type="text/css"><!--
			body {
				text-align: center;
				margin-top: 15em;
			}
			
			p {
				font-size: x-large;
				font-weight: bold;
			}
		--></style>
	</head>
	<body>
		<p>Данный приказ был сгенерирован автоматически<br/>и не имеет печатной версии.</p>
	</body>
</html>
