<*/header_mini*>
		<h2>
			<div class="win_buttons"><*/widgets/button_help*></div>
			Создать новый приказ
		</h2>

		<form>
			<table>
				<tr>
					<td>Тип приказа:</td>
					<td><**/widgets/classifier/simple|place_order_type**></td>
				</tr>
			</table>
			<input type="submit" value="Создать" />
			<input type="button" onClick="document.location.href = 'index.rb';" value="Отмена" />
		</form>
<*/footer_mini*>
