<!INIT order !>
	<div style="font-size: 80%; padding-top: 1cm">
		Идентификатор электронной копии документа: <b><&order.oid&></b>
		<br/>Исполнитель: <b><& if order.creator then order.creator.name else 'нет' end &></b>
	</div>
</body>
</html>
