<!INIT order !>
<!ATTR conditions !>
<html>
<head>
<title>Система управления учебной деятельностью</title>
<link rel="Stylesheet" href="print.css" />
</head>
<body>

<div align="center"><br/><br/>
Государственное образовательное учреждение<br/>
высшего профессионального образования<br/>
&laquo;Московский государственный лингвистический университет&raquo;<br/>
(ГОУ ВПО МГЛУ)
</div>
<table width="100%">
<tr>
<td style="width: 1px">
	<table width="100%">
	<tr><td></td><td align="center">Код</td></tr>
	<tr><td align="right">Форма&nbsp;по&nbsp;ОКУД</td><td class="boxed">&nbsp;</td></tr>
	<tr><td align="right">по&nbsp;ОКПО</td><td class="boxed">&nbsp;</td></tr>
	</table>
</td>
<td align="right">
	<br/>
	<table width="100%" cellspacing="0" style="width: 6cm">
	<tr>
	<td class="boxed" width="60%">Номер документа</td>
	<td class="boxed" width="40%">Дата</td>
	</tr>
	<tr>
	<td class="boxed">&#x2116; <&order.number&></td>
	<td class="boxed"><u><&order.date_activated&></u>&nbsp;</td>
	</td>
	</tr>
	</table>
</td>
</tr>
<tr><td align="center" colspan="2">
<h1>ПРИКАЗ</h1><h2><&order.title&></h2>
<&order.faculty.class::NAME&> &laquo;<&order.faculty.full_name&>&raquo; (<&order.faculty.name&>)

<%
if not @order.attributes['hide_disabled']
	if not @order.attributes['category'].nil?
		if not @order.attributes['category'].empty?
%>
<!-- <br/>ГУИМЦ -->
<%
		end
	else
		if conditions['disabled']
%>
<br/>ГУИМЦ
<%
		end
	end
end
%>

<% study_type_id = study_form_id = nil
unless @order.attributes['hide_study_type']
	study_type_id ||= @order.attributes['shown_study_type_id']
	@order.each_student :all, %w( study_type_id study_form_id ) do |stid, stfid|
		study_type_id ||= stid
		study_form_id ||= stfid
		break
	end
	study_type_id ||= @order.attributes['study_type_id']
	study_type_id ||= (conditions['contract'] ? Classifier::StudyType::CONTRACT : Classifier::StudyType::BUDGET)
	study_form_id ||= @order.attributes['study_form_id']
	study_form_id ||= Classifier::StudyForm::FULLTIME
end %>
<% if study_type_id then %><br/>Основа обучения: <%= Classifier::StudyType[study_type_id][:name] %><% end %>
<% if study_form_id then %><br/>Форма обучения:  <%= Classifier::StudyForm[study_form_id][:name] %><% end %>

</td></tr>
</table>
