<!ATTR main_src mode !>
<html>
	<head>
		<link rel="Stylesheet" href="/main.css" />
		<title>Контингент - версия 1000</title>
		<frameset rows="82,*" border="0">
			<frame name="header" src="top.rb?mode=<&mode&>" scrolling="no" />
			<frame name="main" src="<%=main_src%>" />
		</frameset>
	</head>
</html>
