<!ATTR url !>
<*/header_mini*>
<table style="margin-left: 3em; margin-top: 2em">
	<tr>
		<td style="vertical-align: center; width: 5em"><img src="/img/wait.png" /></td>
		<td style="vertical-align: center"><h1>Подождите</h1></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Ваша операция выполняется...</td>
	</tr>
</table>

<script language="javascript"><!--
document.location.href = "<%=url%>";
//--></script>

<*/footer_mini*>
