<!INIT title value !>
<% if @value %>
				<&title&>&nbsp;&ndash; <b><&value&></b><br/>
<% else %>
				</div>
			</td>
			<td class="status_bar">
				<div class="title"><&title&>:</div>
				<div>
<% end %>
