<!ATTR wide on_change custom !>
<-- METHODS START -->

def init classifier, editable = true, has_custom = false
	@classifier, @editable, @has_custom, @selected = classifier, editable, has_custom, classifier.selected
	
	raise "Not implemented" if has_custom

	for entry in @classifier do
		add_option "#{entry[:id]}:#{entry[:code]}", entry[:name], entry[:id] == @selected[:id]
	end if @editable

	@display_empty, @wide = true, false

	return self
end

<-- METHODS END -->
<script language="javascript"><!--
	function checkClassifier_<&@classifier.name&>()
	{
		var classifier = document.getElementById("<&@classifier.name&>_id");
		var code       = document.getElementById("<&@classifier.name&>_code").value;

		var id = ":"; for (var i = 0; i < classifier.length; i++) {
			if (classifier[i].value.split(':')[1] == code) {
				id = classifier[i].value; break;
			}
		}; classifier.value = id;

		if (id == ":") {
			classifier.style.color = "red";
		} else {
			classifier.style.color = "black";
		}
		<&on_change&>
	}
--></script>
<div id="<&@classifier.name&>" style="display: inline; white-space: nowrap;<% if @wide then %> width: 100%<% end %>">
<% if @editable then %>
	<select name="<&@classifier.name&>_id" id="<&@classifier.name&>_id" style="<% if @wide then %>width: 100%; <% end %>border: transparent; background: transparent; font-weight: bold; text-align: center;" disabled="1">
		<option value=":"<% unless @selected then %> selected="1"<% end %>>&mdash; X &mdash;</option>
		<**option|add_option**>
	</select>
<% else %>
	<input name="<&@classifier.name&>_id" id="<&@classifier.name&>_id" type="hidden" value="<& @selected[:id] &>:<& @selected[:code] &>"/>
	<b><& @selected[:name] or 'НЕ УСТАНОВЛЕНО' &></b>
<% end %>
	Код по <&@classifier.class::NAME&>
	<input type="text" id="<&@classifier.name&>_code" name="<&@classifier.name&>_code" value="<& @selected[:code] &>"<% if @editable then %> class="text" size="6" onKeyUp="javascript:checkClassifier_<&@classifier.name&>()" onMouseOut="javascript:checkClassifier_<&@classifier.name&>()"<% else %> style="width: 5em; border: none; background: transparent; font-weight: bold; color: black;" disabled="1"<% end %>/>
</div>
<script language="javascript"><!--
	checkClassifier_<&@classifier.name&>();
--></script>
