<!ATTR faculty_id !>
<html>
	<head>
		<link rel="Stylesheet" href="/main.css" />
		<frameset cols="25%,*" border="0">
			<frame name="nav" src="/tools.rb?faculty_id=<&faculty_id&>&target=user&return_url=%2Fuser%2Flist.rb" scrolling="no" />
			<frameset rows="26,0,*" border="5">
				<frame name="toolbar" src="list_toolbar.rb" scrolling="no" noresize="true" />
				<frame name="details" />
				<frame name="list" src="list.rb" />
			</frameset>
		</frameset>
	</head>
</html>
