<!ATTR total !>
<*/header_mini2*>
</head>
<body class="header">
		<div class="toolbar">
			<a href="item.rb" target="details"><img src="/img/filenew2.png" width="22" height="22" alt="Добавить в систему нового пользователя" title="Добавить в систему нового пользователя" border="0"/></a>
		</div>
		<div class="win_buttons">
			<*/widgets/button_help*>
		</div>
<*/footer_mini*>
