<!ATTR user_id login status !>
<*/widgets/list/header*>
<% if status == :ok then %>
		<script language="javascript"><!--
			alert('Пароль был успешно изменен');
			close();
		//--></script>
		<div style="width: 100%;">
			<p>Пароль был успешно изменен. Можете закрыть данное окно.</p>
		</div>
<% else %>
		<form method="post">
			<div class="list_header">
				<div class="toolbar">
					<input type="image" src="/img/filesave2.png" width="22" height="22" alt="Сохранить" title="Сохранить"/>
				</div>
				<div class="win_buttons">
					<*/widgets/button_help*>
					<a href="javascript:close();"><img src="/img/fileclose.png" width="16" height="16" alt="Закрыть" title="Закрыть" border="0"/></a>
				</div>
				<div style="padding-top: 2px;">Пользователь <b><&login&></b></div>
			</div>
			<div style="clear: both"></div>

			<div class="content">
				<table style="width: 100%; padding: 0.5em; padding-top: 1em;">
					<tr>
						<td style="width: 0%">Новый&nbsp;пароль:</td>
						<td style="width: 100%"><input name="pass1" type="password" class="text" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td style="width: 0%">Новый&nbsp;пароль еще&nbsp;раз:</td>
						<td style="width: 100%"><input name="pass2" type="password" class="text" style="width: 100%;" /></td>
					</tr>
				</table>
			</div>
		</form>
<% 	if status == :failed then %>
		<div class="warning" style="width: 100%;">
			<b>Внимание!</b> Пароли&nbsp;не&nbsp;совпадают. Попробуйте&nbsp;еще&nbsp;раз.
		</div>
<% 	end %>
<% end %>
<*/widgets/list/footer*>
