<a id="help" href="/help.rb" target="_blank" onClick="javascript:window.open(this.href + '?referer=' + escape(document.location.href), 'new', 'toolbar=0,menubar=0,width=600,height=400,scrollbars=1');return false;"><img src="/img/help.png" width="16" height="16" alt="Справка" title="Справка" border="0"/></a>
