<!ATTR order_id !>
<*/header_mini2*>
<body class="header" style="padding-left: 0.5em; padding-top: 0px; margin-top: 0px">
	<table style="width: 100%"><tr>
		<td><h3>Выберите отменяемый приказ:</h3></td>
		<td><div class="win_buttons">
			<a href="/order/delete.rb?order_id=<&order_id&>" target="_parent"><img src="/img/fileclose.png" width="16" height="16" alt="Отмена" title="Отмена" border="0"/></a>
		</div></td>
	</tr></table>
</body>
</html>
