<!INIT student_id name group card_number attributes !>
				<tr class="list_item">
					<td><&name&></td>
					<td style="width: 5em"><nobr><&group&></nobr></td>
					<td style="width: 6em; text-align: center"><&card_number&></td>
				</tr>
